<section role="tabpanel" class="tab-pane" id="bibframe">
   <h2>BIBFRAME</h2>
   <div class="row">
    <section class="col-md-2">
      <img src="{{ url_for('static', filename='images/bf-tn.png') }}" alt="BIBFRAME Logo" class="img-rounded pull-left"> 
    </section>
    <article class="col-md-7 col-sm-7 well well-sm">
        <h2>BIBFRAME</h2>
        <p class="lead ">
          <a href="http://bibframe.org/">BIBFRAME</a>, short for Bibliographic Framework, is a Library of Congress 
          <a href="http://www.loc.gov/bibframe/">initiative</a> to replace <a href="http://www.loc.gov/marc/">MARC 21</a>
          with a Linked Data vocabulary. BIBFRAME is made up four major classes, Works, Instances, Annotations, and 
          Authorities.  
        </p>
        <h3>BIBFRAME in Redis</h3>
        <img src="http://journal.code4lib.org/media/issue19/nelson/title-redis-structure-500.png">
    </article>
    <article class="col-md-3">
      <h3>Works</h3>
      <h3>Instances</h3>
      <h3>Annotations</h3>
      <h3>Authorities</h3>

    </article>
   </div>
</section>
