{% macro generate(page) -%}
<nav class="navbar navbar-inverse navbar-default">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="{{ url_for('index') }}">NISO Webinar</a>
    </div>
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li {% if page == 1 %}class="active"{% endif %}>
          <a href="{{ url_for('slide', page='early-experiments') }}">Early experiments<br>2007-2010
           {% if page == 1 %}<span class="sr-only">(current)</span>{% endif %}
          </a>
        </li>
        <li {% if page == 2 %}class="active"{% endif %}>
           <a href="{{ url_for('slide', page='frbr-redis-bf') }}">FRBR, Redis, &amp; BIBFRAME<br>2011-2013
           {% if page == 2 %}<span class="sr-only">(current)</span>{% endif %}
           </a>
        </li>
        <li {% if page == 5 %}class="active"{% endif %}>
            <a href="{{ url_for('slide', page='cpp') }}">Catalog Pull Platform<br>2014-
            {% if page == 5 %}<span class="sr-only">(current)</span>{% endif %}
           </a>
        </li>
        <li {% if page == 3 %}class="active"{% endif %}>
            <a href="{{ url_for('slide', page='tiger') }}">TIGER Catalog<br>2014-
	    {% if page == 3 %}<span class="sr-only">(current)</span>{% endif %}
            </a>
        </li>
        <li {% if page == 4 %}class="active"{% endif %}>
            <a href="{{ url_for('slide', page='bf-catalog') }}">BIBCAT<br>2015-
	    {% if page == 4 %}<span class="sr-only">(current)</span>{% endif %}
            </a>
        </li>
     </ul>
    </div>
 </div>
</nav>
{%- endmacro %}
