<section role="tabpanel" class="tab-pane" id="redis">
    <br>
    <div class="row" style="background-color: black">
    <article class="col-md-8 col-sm-8" >
      <br>
      <img src="{{ url_for('static', filename='images/redis.png') }}" alt="Redis Logo" class="img-rounded"> 
      <p class="lead text-danger">
        <a href="http://redis.io">Redis</a> is an open-source key-value NoSQL data-storage technology where 
        unique keys are associated can be associated with different data structure values like strings,
        lists, sets, hashes, that enable access to data because Redis stores everything
        in a computer's memory.
      </p>
     </article>
    </div>
</section>

