<!DOCTYPE html>
<html lang="en">
 {% set title = 'Exploring BIBFRAME at a Small Academic Library' %}
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>NISO Webinar - {{ title }} </title>

    <!-- Bootstrap -->
    <link href="{{ url_for('static', filename='css/bootstrap.min.css') }}" rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap-theme.min.css">    
    {% block more_css %}{% endblock %} 
    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
    <script async defer src="//hypothes.is/embed.js"></script>
  </head>
  <body class="container">
  {% import 'snippets/header.html' as header %} 
  {% import 'snippets/slide-header.html' as slide_nav %}
   {% block header %}
        {{ header.generate(0) }}
   {% endblock %}
   {% block main %}
    <article class="jumbotron">
       <h1>{{ title }}</h1>
       <p class="lead">This webinar traces the development path taken by the 
        <a href="https://www.coloradocollege.edu/library">Tutt Library</a>
        at <a href="https://www.coloradocollege.edu/">Colorado College</a> as its explores 
        how <a href="{{ url_for('slide', page='references') }}#bibframe">BIBFRAME</a> and other 
        <a href="{{ url_for('slide', page='references') }}#schema-org">Linked</a>-<a href="{{ url_for('slide', page='references') }}#modsrdf">data</a>
        vocabularies
        can be used in library systems to improve operations and provide superior access
        and discoverability of the library's collections.
       </p>
       <p class="lead">Starting with early experiments 
        modeling bibliographic entities using <a href="https://cloud.google.com/appengine/">Google App Engine</a>
        &amp; <a href="{{ url_for('slide', page='references') }}#solr">Solr</a>, the library moved to 
        using <a href="{{ url_for('slide', page='references') }}#redis">Redis</a> as a bibliographic store for 
        <a href="{{ url_for('slide', page='references') }}#frbr">FRBR</a> and BIBFRAME entities. Limitations with Redis
        lead to further experimental systems with <a href="{{ url_for('slide', page='references') }}#mongodb">MongoDB</a> 
        and Solr, leading eventually to using
        <a href="{{ url_for('slide', page='references') }}#fedora4">Fedora 4</a> as a 
        <a href="{{ url_for('slide', page='references') }}#linked-data-platform">Linked Data Platform</a>
        supported by <a href="{{ url_for('slide', page='references') }}#elastic-search">Elastic Search</a>, 
        <a href="{{ url_for('slide', page='references') }}#fuseki">Apache Fuseki</a>, and Redis that is
        being actively developed in the upcoming <a href="http://bibcat.org">BIBCAT</a> - short for BIBFRAME Catalog -
        for the Library of Congress. 
        The future plans for the Tutt Library is to use the BIBCAT a foundation for a new
        integrated library catalog and website. 
      </p>
      <a href="{{ url_for('slide', page='early-experiments') }}" class="pull-right btn btn-lg btn-info">
         Early experiments <i class="glyphicon glyphicon-triangle-right"></i>
      </a>
    </article>
   {% endblock %}
   {% block footer %}
       {% include 'snippets/footer.html' %}
   {% endblock %}
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script> 
  </body>
</html>
