{% extends 'base.html' %}

{% block header %}
    {{ header.generate(5) }}
{% endblock %}

{% block main %}
{{ slide_nav.generate({'name': 'TIGER Catalog<br>2014-', 'page': 'tiger'}, {'name': 'BIBCAT<br>2015-', 'page': 'bibcat'}, 'Catalog Pull Platform<br><small>(2014-)</small>') }}
<br>
<div class="row">
  <article class="col-md-8 col-sm-12">
    <h3>What is &hellip;?</h3>
    <p class="lead">
     With ideas originating in the 
     <a href="http://en.wikipedia.org/wiki/Lean_startup">Lean Startup</a> movement for 
     technology entrepreneurs and that builds upon the success
     Toyota and other manufacturers have had in implementing 
     <a href="http://en.wikipedia.org/wiki/Lean_manufacturing">Lean Manufacturing</a> 
     ideas; the Catalog Pull Platform is a fundamental shift  
     in thinking about library systems. Moving away from trying to anticipate the needs and then 
     "pushing" services and technology to patrons and staff, the Catalog Pull Platform instead 
     identifies and responds to needs and demands for library technology by "pulling" directly 
    from various constituencies served by libraries and cultural heritage organizations.
     
    </p>
        <img src="http://intro2libsys.info/static/img/catalog-pull-platform.svg" alt="Catalog Pull Platform"> 

  </article>
  <section class="col-md-4 col-sm-12">
   <blockquote>
     Pull models are emerging as a response to growing uncertainty. Instead of dealing 
     with uncertainty through tighter control, pull models do the opposite. They seek 
     to expand the opportunity for creativity by local participants dealing with immediate 
     needs. hell Rather than seeking to constrain the 
     resources available to people, pull models strive to continually expand the choices 
     available while at the same time helping people to find the resources that are most
     relevant to them.
     <footer>
     John Seely Brown and John Hagel III, 2008 in <cite title="From Push To Pull : Emerging Models For
     Mobilizing Resources">
      <a href="http://www.johnseelybrown.com/Push2Pull.pdf">From Push To Pull : Emerging Models For
     Mobilizing Resources</a>
    </footer>
    </blockquote>

    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">People demand</h3>
      </div>
      <div class="panel-body">
        People are the first and most important source of library systems demand 
        in the Catalog Pull Platform.
      </div>
   </div>
   <div class="panel panel-primary">
      <div class="panel-heading">
        <h3 class="panel-title">Institutional demand</h3>
      </div>
      <div class="panel-body">
       Institutions are the second source for the library systems technology demand
       in the Catalog Pull Platform.
      </div>
   </div>
   <div class="panel panel-success">
      <div class="panel-heading">
        <h3 class="panel-title">Algorithmic demand</h3>
      </div>
      <div class="panel-body">
        To function as a true 21st century technology pull platform, the Catalog Pull's third
        source of demand, loosely classified as <strong>Algorithmic</strong>, refers to a rich
        set of APIs and linked-data interfaces that are connecting resources in the 
        BIBFRAME Datastore, a specific implementation of a 
        <a href="https://github.com/jermnelson/semantic-server">Semantic Server</a>.
        
      </div>
   </div>
  </section>
</div>
<hr>
<h2>Semantic Server</h2>
<div class="row">
  <section class="col-md-4">
    <h3>REST API</h3>
    <p class="lead">The semantic server's primary function is providing a REST API that hides the 
    specific implementation details from other applications that may need to interact with BIBCAT
    or other bibliographic system. The semantic server's REST API is based on a python project
    called <a href="#">Falcon</a>, a Python-based framework for creating cloud-based REST API, 
    initial developed and continued to be sponsored by Rackspace.  
  </section>
  <article class="col-md-8">
    <h3>Technology Stack</h3>
<div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
  <div class="panel panel-default">
    <div class="panel-heading" role="tab" id="headingOne">
      <h4 class="panel-title">
        <a data-toggle="collapse" data-parent="#accordion" href="#fedora4" aria-expanded="true" aria-controls="collapseOne">
         Fedora 4 
        </a>
      </h4>
    </div>
    <div id="fedora4" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
      <div class="panel-body">
       <img src="{{ url_for('static', filename='images/fedora4_logo.png') }}" class="img-thumbnail pull-right">
      Fedora 4 is the latest production release of the established, open-source 
      digital repository platform sponsored by <a href="http://www.duraspace.org/">Duraspace</a>.
      </div>
    </div>
  </div>
  <div class="panel panel-default">
    <div class="panel-heading" role="tab" id="headingTwo">
      <h4 class="panel-title">
        <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#elastic-search" aria-expanded="false" aria-controls="elastic-search">
         Elasticsearch 
        </a>
      </h4>
    </div>
    <div id="elastic-search" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
      <div class="panel-body">
        <img src="{{ url_for('static', filename='images/elastic-search-logo.png') }}" class="img-thumbnail pull-left">
        Elasticsearch, based on Apache Lucene, is
     </div>
    </div>
  </div>
  <div class="panel panel-default">
    <div class="panel-heading" role="tab" id="headingThree">
      <h4 class="panel-title">
        <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#fuseki" aria-expanded="false" aria-controls="fuseki">
         Apache Fuseki 
        </a>
      </h4>
    </div>
    <div id="fuseki" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
      <div class="panel-body">
        Fuseki 
     </div>
    </div>
  </div>
</div>

  </article> 
</div>
<hr>
{{ slide_nav.generate({'name': 'FRBR, Redis, & BIBFRAME<br>2011-2013', 'page': 'frbr-redis-bf'}, {'name': 'TIGER Catalog<br>2014-', 'page': 'tiger'}, ' ') }}
<hr>
{% endblock %}
