{% extends 'base.html' %}

{% block header %}
    {{ header.generate(2) }}
{% endblock %}

{% block main %}
{{ slide_nav.generate({'name': 'Early Experiments<br>2007-2010', 'page': 'early-experiments'}, {'name': 'TIGER Catalog<br>2014-', 'page': 'tiger'},  'FRBR, Redis, & BIBFRAME<br><small>(2011-2013)</small>') }}
<hr>
<div class="row">
  <article class="col-md-3 col-sm-6 well well-sm">
   <p class="lead text-success">In June of 2010, Nelson left Western State College for a new position as the 
    Metadata and Systems Librarian at Colorado College.</p>
  </article>
  <section class="col-md-8 col-sm-10">
<a href="https://www.coloradocollege.edu"><img src="{{ url_for('static', filename='images/cclogo.jpg') }}" alt="Colorado College"></a>
    <p class="lead text-muted">
      Almost immediately after starting in 2010, Nelson's development work first 
      began automating the MARC record manipulation for
      loading into CC's legacy ILS as well as work on a thesis submission web application.
    </p>
  </section>
</div>
<hr>
<div role="tabpanel">
<ul class="nav nav-pills">
  <li role="presentation" class="active lead">
    <a href="#frbr" aria-controls="frbr" role="tab" data-toggle="tab">FRBR</a>
  </li>
  <li role="presentation" class="lead">
    <a href="#redis" aria-controls="redis" role="tab" data-toggle="tab">Redis</a>
  </li>
  <li role="presentation" class="lead">
    <a href="#bibframe" aria-controls="bibframe" role="tab" data-toggle="tab">BIBFRAME</a>
  </li>

</ul>
<div class="tab-content">
  {% include 'snippets/frbr.html' %}
  {% include 'snippets/redis.html' %}
  {% include 'snippets/bibframe.html' %}
</div>
</div>
<hr>
{{ slide_nav.generate({'name': 'Early Experiments<br>2007-2010', 'page': 'early-experiments'}, {'name': 'TIGER Catalog<br>2014-', 'page': 'tiger'},  ' ') }}
<hr>
{% endblock %}
