{% extends 'base.html' %}

{% block header %}
    {{ header.generate(0) }}
{% endblock %}

{% block main %}
{# START Main row #}
<section class="row">
    {# START content #}
    <div class="col-md-8 well well-sm">
        <h1>Webinar References</h1> 
        <ul class="media-list">
            <li class="media">
               <div class="media-left">
                  <a href="http://bibframe.org/" name="bibframe">
                    <img class="media-object" src="{{ url_for('static', filename='images/bf-tn.png') }}" alt="BIBFRAME Logo">
                  </a>
               </div>
               <article class="media-body">
                <h4 class="media-heading">BIBFRAME - <a href="http://bibframe.org">http://bibframe.org</a></h4>
                BIBFRAME, short for bibliographic framework, is a linked-data vocabulary for bibliographic information 
                sponsored by the Library of
                Congress as a replacement for MARC21 record format. 
               </article>
            </li>
            <li class="media">
                <div class="media-left">
                    <a href="http://discovery.coloradocollege.edu/code4lib/">
                        <img class="media-object" src="{{ url_for('static', filename='images/code4lib-2012.jpg') }}" alt="Code4Lib 2012">
                    </a>
                </div>
                <div class="media-body">
                    <h4 class="media-heading">Code4Lib 2012 - <em>NoSQL Bibliographic Records: Implementing a Native FRBR Datastore with Redis</em> <a href="http://discovery.coloradocollege.edu/code4lib/">http://discovery.coloradocollege.edu/code4lib/</a></h4>

                </div>
            </li>
            <li class="media">
                <div class="media-left">
                    <a href="http://tuttdemo.coloradocollege.edu/code4lib/">
                        <img class="media-object" src="{{ url_for('static', filename='images/code4lib-2013-tn.png') }}" alt="Code4Lib 2012">
                    </a>
                </div>
                <div class="media-body">
                    <h4 class="media-heading">Code4Lib 2013 - <em>Evolving Towards a BIBFRAME Redis Datastore</em>  <a href="http://tuttdemo.coloradocollege.edu/code4lib/">http://tuttdemo.coloradocollege.edu/code4lib/</a></h4>

                </div>
            </li>
            <li class="media">
                <div class="media-left">
                    <a href="http://intro2libsys.info/code4lib-2015" name="code4lib-2015">
                        <img class="media-object" src="{{ url_for('static', filename='images/code4lib-2015-tn.png') }}" alt="Code4Lib 2015">
                    </a>
                </div>
                <div class="media-body">
                    <h4 class="media-heading">Code4Lib 2015 - <em>Building a BIBFRAME Catalog with a Catalog Pull Platform</em>  
                    <a href="http://intro2libsys.info/code4lib-2015">http://intro2libsys.info/code4lib-2015</a></h4>
                </div>
            </li>
        </ul>
    {# END content #}
    </div>
{# END Main row #}
</section> 
{% endblock %}
