{% extends 'base.html' %}

{% block header %}
    {{ header.generate(0) }}
{% endblock %}

{% block main %}
{# START Main row #}
<section class="row">
    {# START content #}
    <div class="col-md-8 well well-sm">
        <h1>Webinar References</h1> 
        <ul class="media-list">
            <li class="media">
               <div class="media-left">
                  <a href="http://bibframe.org/" name="bibframe">
                    <img class="media-object" src="{{ url_for('static', filename='images/bf-tn.png') }}" alt="BIBFRAME Logo">
                  </a>
               </div>
               <article class="media-body">
                <h4 class="media-heading">BIBFRAME - <a href="http://bibframe.org">http://bibframe.org</a></h4>
                BIBFRAME, short for bibliographic framework, is a linked-data vocabulary for bibliographic information 
                sponsored by the Library of
                Congress as a replacement for MARC21 record format. 
               </article>
            </li>
            <li class="media">
                <div class="media-left">
                    <a href="http://discovery.coloradocollege.edu/code4lib/">
                        <img class="media-object" src="{{ url_for('static', filename='images/code4lib-2012.jpg') }}" alt="Code4Lib 2012">
                    </a>
                </div>
                <div class="media-body">
                    <h4 class="media-heading">Code4Lib 2012 - <a href="http://discovery.coloradocollege.edu/code4lib/">http://discovery.coloradocollege.edu/code4lib/</a></h4>

                </div>
            </li>
            <li class="media">
                <div class="media-left">
                    <a href="http://www.loc.gov/standards/mods/modsrdf/" name="modsrdf">
                        <img class="media-object" src="{{ url_for('static', filename='images/mods-rdf-tn.png') }}" alt="MODS RDF">
                    </a>
                </div>
                <div class="media-body">
                    <h4 class="media-heading">MODS RDF - <a href="http://www.loc.gov/standards/mods/modsrdf/">http://www.loc.gov/standards/mods/modsrdf/</a></h4>

                </div>
            </li>
            <li class="media">
                <div class="media-left">
                    <a href="http://redis.io" name="redis">
                        <img class="media-object" src="{{ url_for('static', filename='images/redis-tn.png') }}" alt="Redis">
                    </a>
                </div>
                <div class="media-body">
                    <h4 class="media-heading">Redis - <a href="http://redis.io">http://redis.io</a></h4>

                </div>
            </li>

            <li class="media">
                <div class="media-left">
                    <a href="http://schema.org" name="schema-org">
                        <img class="media-object" src="{{ url_for('static', filename='images/schema-org-tn.png') }}" alt="Schema.org">
                    </a>
                </div>
                <div class="media-body">
                    <h4 class="media-heading">Schema.org - <a href="http://schema.org">http://schema.org</a></h4>

                </div>
            </li>
            <li class="media">
                <div class="media-left">
                    <a href="" name="solr">
                        <img class="media-object" src="{{ url_for('static', filename='images/solr-tn.png') }}" alt="Schema.org website">
                    </a>
                </div>
                <div class="media-body">
                    <h4 class="media-heading">Solr - <a href="https://lucene.apache.org/solr/">https://lucene.apache.org/solr/</a></h4>

                </div>
            </li>

        </ul>
    {# END content #}
    </div>
{# END Main row #}
</section> 
{% endblock %}
